.container {
  margin: 0 auto;
  width: 800px;
  padding: 25px;
  margin-bottom: 150px;
  @media (max-width: 1279px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
    width: 343px;
    padding: 0;
  }

  .grey_subtitle {
    font-weight: 900;
    font-size: 14px;
    line-height: 114.8%;
    color: #d2d2d2;
    text-align: center;
    letter-spacing: 0.075em;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  .title_accordion {
    font-weight: 600;
    font-size: 32px;
    line-height: 114.8%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
}
.accordion-container .accordion-title {
  padding-bottom: 30px;
  position: relative;
  margin: 0;
  padding: 0.995em 0.995em 0.995em 2em;
  font-size: 1.25em;
  font-weight: normal;
  color: $black;
  cursor: pointer;
  border-radius: 15px;
  @media (max-width: 767px) {
    font-size: 17px;
    padding: 30px 30px 30px 0;
  }
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active {
  box-shadow: 0px 7px 40px rgb(0 255 0 / 60%);
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  transform: rotate(90deg);
  background: $green;
  transition: all 0.3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  background: $green;
  transition: all 0.2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  padding-left: 2.3125em;
  border-bottom: 1px solid #dfdfdf;
  padding: 30px 0;
  margin: 0 30px;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 30px 30px 30px 0;
    margin: 0;
  }
}
